{% from 'fieldMacro.html' import displayField %}
{% extends 'base.html' %}
{% block title %}Registration{% endblock %}
{% block content %}
    <div class="mt-5">
        <h2 class="text-center">Registration</h2>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <div class="mt-3">
            <form method="POST" novalidate>
                {{ form.csrf_token }}
                {{ displayField(form.username, "Username") }}
                {{ displayField(form.email, "Email") }}
                {{ displayField(form.password, "Password") }}
                {{ displayField(form.confirmPassword, "Confirm password") }}
                
                <br><br>

                {{ form.submit(class="btn btn-primary width-100 negative-mt-20") }}
            </form>
        </div>
    </div>
{% endblock %}